<div class="container">
  <ng-container *ngIf="vm$ | async; let vm">
    <mat-form-field class="autocomplete">
      <input
        matInput
        placeholder="Your city"
        [matAutocomplete]="auto"
        [formControl]="selectedCity"
        placeholder="Your city"
      />

      <button
        *ngIf="selectedCity.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clear()"
      >
        <mat-icon>close</mat-icon>
      </button>

      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onCitySelected()"
        [displayWith]="displayWith"
        autoActiveFirstOption
      >
        <mat-option *ngFor="let movie of vm.cities.res" [value]="movie.title">
          {{ movie.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ng-container>
</div>
