<div>
  <form *tuiLet="cities$ | async as cities" [tuiTextfieldCleaner]="true">
    <tui-input tuiTextfieldSize="m" [formControl]="selectedCity">
      Choose city
      <input
        tuiTextfield
        placeholder=""
        (input)="onSearchChange(extractValueFromEvent($event))"
      />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="cities"
        [itemContent]="content"
      ></tui-data-list-wrapper>
    </tui-input>
  </form>

  <ng-template #content let-data>
    <div>
      <div>{{ data }}</div>
    </div>
  </ng-template>
</div>
