<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content class="mat-typography">
  <ng-content></ng-content>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    cdkFocusInitial
    color="primary"
    *ngIf="crudMode != CRUD_ACTION.DETAILS"
    [disabled]="!isFormValid || isProcessing"
    [matBadge]="badgeText"
    (click)="saveClick.emit()"
  >
    {{ saveButtonText }}
  </button>
</mat-dialog-actions>
