<div>
  <div class="dialog__title">
    <h3>{{ title }}</h3>
    <button mat-icon-button mat-dialog-close aria-label="Example icon button with a delete icon" class="dialog__close">
      <fa-icon class="c-counter__icon" [icon]="['fas', 'xmark']" size="xl"></fa-icon>
    </button>
  </div>
  <div class="dialog__content">
    <ng-content></ng-content>
  </div>
  <div class="dialog__actions">
    <button
      mat-flat-button
      cdkFocusInitial
      color="primary"
      *ngIf="crudMode != CRUD_ACTION.DETAILS"
      [disabled]="!isFormValid || isProcessing"
      [matBadge]="badgeText"
      (click)="saveClick.emit()"
    >
      {{ saveButtonText }}
    </button>
  </div>
</div>
