<div class="page__wrapper">
  <!-- header -->
  <header class="page__header" [ngClass]="{ 'page__header--fixed': router.url === '/map' }">
    <div class="header__container container">
      <!-- c-logo -->
      <a class="c-logo" [routerLink]="'/'">
        <img class="c-logo__img" [src]="'/assets/img/logo/logo__menu.png'" alt="TurnikCity Logo" />
        <div class="c-logo__right">
          <div class="c-logo__title">TurnikCity</div>
          <ng-container *ngIf="store.ipDetails$ | async as ipDetails">
            <ng-container *ngIf="ipDetails.status == 'success'">
              <div class="c-logo__bottom">
                <img class="c-logo__flag" [src]="'https://flagcdn.com/' + ipDetails.data?.countryCode + '.svg'" />
                <div class="c-logo__city">{{ ipDetails.data?.city }}</div>
              </div>
            </ng-container>
            <ng-container *ngIf="ipDetails.status == 'loading'">
              <div class="c-logo__city">Loading...</div>
            </ng-container>
          </ng-container>
        </div>
      </a>

      <!-- c-nav -->
      <div class="c-nav">
        <button mat-stroked-button class="c-nav__btn" (click)="playgroundCreateDialogOpen()">
          <fa-icon class="c-nav__btn-icon" [icon]="['fas', 'plus']" size="xl"></fa-icon>
          <span class="c-nav__btn-text">Add</span>
        </button>
        <a mat-stroked-button class="c-nav__btn" [routerLink]="'/map'">
          <fa-icon class="c-nav__btn-icon" [icon]="['far', 'map']" size="xl"></fa-icon>
          <span class="c-nav__btn-text">Map</span>
        </a>

        <!-- section: profile -->
        <ng-container *ngIf="authState$ | async as authState">
          <button mat-stroked-button class="c-nav__btn" (click)="loginClick()" *ngIf="!authState.isAuthenticated">
            <fa-icon class="c-nav__btn-icon" [icon]="['far', 'user']" size="xl"></fa-icon>
            <span class="c-nav__btn-text">Login</span>
          </button>
          <button class="c-nav__btn" mat-stroked-button [matMenuTriggerFor]="prMenu" *ngIf="authState.isAuthenticated">
            <fa-icon class="c-nav__btn-icon" [icon]="['far', 'user']" size="xl"></fa-icon>
            <span class="c-nav__btn-text">{{ authState.user?.name }}</span>
          </button>
          <mat-menu #prMenu="matMenu" class="profile-menu">
            <a mat-menu-item routerLink="/profile">
              <fa-icon class="me-3" [icon]="['far', 'user']" size="lg"></fa-icon>
              <span>Profile</span>
            </a>
            <button mat-menu-item (click)="logoutClick()">
              <fa-icon class="me-3" [icon]="['fas', 'arrow-right-from-bracket']" size="lg"></fa-icon>
              <span>Log Out</span>
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </div>
  </header>

  <!-- content -->
  <main class="page__content">
    <router-outlet></router-outlet>
  </main>

  <!-- footer -->
  <footer class="page__footer" *ngIf="router.url != '/map'">
    <div class="container my-4">
      <div class="row">
        <div class="col-md col-12 mb-4 mb-md-0">
          <div class="c-slogan">
            <div class="c-slogan__title">TurnikCity</div>
            <div class="c-slogan__text">Tomorrow, tomorrow, tomorrow, ain't no such thing as tomorrow, we only got today!</div>
            <div class="social-list d-flex d-md-none justify-content-center mt-3">
              <a *ngFor="let s of social" [href]="s.href" target="_blank" class="social-list__item">
                <fa-icon [icon]="[s.prefix, s.icon]" size="2xl"></fa-icon>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="footer-list">
            <h6 class="footer-list__title">Quick Nav</h6>
            <ul>
              <li>
                <a routerLink="/about">About Us</a>
              </li>
              <li>
                <a target="_blank" href="https://ultramarine256.notion.site/Codex-v1-2-3fb575a762a84ed4a14e4c5ab232e6d5">
                  Codex
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="footer-list">
            <h6 class="footer-list__title">Connect</h6>
            <ul>
              <li>
                <a href="mailto:info@turnik.city">info@turnik.city</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-12 d-none d-md-flex">
          <div class="footer-list">
            <h6 class="footer-list__title">HELLO!</h6>
            <div class="social-list">
              <a class="social-list__item" *ngFor="let s of social" [href]="s.href" target="_blank">
                <fa-icon [icon]="[s.prefix, s.icon]" size="2xl"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
