@import '../../assets/scss/variables';

/* PAGE CONTENT */
.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;

  .page__content {
    flex: 1 0 auto;
  }

  .page__header,
  .page__footer {
    flex-shrink: 0;
  }
}

/* HEADER */
.header {
  display: flex;
  background-color: #fff;
  padding: 10px 0;
  min-height: 4rem;

  @media (max-width: $lt-md) {
    padding: 10px 0;
  }

  .header__content {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
  }
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 14px;

  @media (max-width: $lt-md) {
    margin-right: 8px;
  }

  .header-logo__img {
    height: 40px;
    border-radius: 6px;

    @media (max-width: $lt-md) {
      height: 34px;
    }
  }
}

.t-location {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40px;
  margin-top: 4px;

  .t-location__city {
    font-weight: 500;
  }

  .t-location__ip {
    font-size: 90%;
  }
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .header-nav__section {
    display: flex;
    align-items: center;
  }
}

.nav-button {
  margin-right: 8px;
  border-radius: 100px;
  padding: 4px 14px;

  &:last-child {
    margin-right: 0;
  }

  .ng-fa-icon {
    margin-right: 6px;
  }

  @media (max-width: $lt-md) {
    padding: 0 5px;
    min-width: 0;

    &.nav-button--long {
      padding: 0 10px;
    }

    .ng-fa-icon {
      margin-right: 0 !important;
      padding: 0 4px;
    }

    .nav-button__text {
      display: none;
    }
  }
}

/* FOOTER */
.footer {
  background-color: #fff;
  padding: 25px 0;
}

.f-slogan {
  @media (max-width: $lt-md) {
    text-align: center;
  }

  .f-slogan__title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .f-slogan__text {
    display: flex;
    font-size: 16px;
    font-style: italic;
    max-width: 400px;

    @media (max-width: $lt-md) {
      max-width: 100%;
    }
  }
}

.c-list {
  .c-list__title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .c-list__ul {
    padding-left: 0;
    list-style: none;
    font-size: 16px;

    li {
      padding-top: 0.5rem;
      &:first-child {
        padding-top: 0;
      }

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

// shared
.c-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .c-icons__item {
    text-decoration: none;
    padding-right: 8px;
    color: #000;

    &:last-child {
      padding-right: 0;
    }
  }
}

.w-20 {
  max-width: 20px;
}
