<div class="page__wrapper">
  <!-- header -->
  <header class="page__header header">
    <div class="container--grow header__content">
      <!-- header-logo -->
      <a class="header-logo" [routerLink]="'/'">
        <img class="header-logo__img" [src]="'/assets/img/logo/logo__menu.png'" alt="" />
      </a>

      <!-- header-nav -->
      <div class="header-nav">
        <div class="header-nav__section pe-2">
          <a mat-stroked-button class="nav-button nav-button--long" routerLink="/map">Playgrounds</a>
          <a mat-stroked-button class="nav-button nav-button--long" routerLink="/map">Kiev</a>
        </div>
        <div class="header-nav__section">
          <button mat-stroked-button class="nav-button">
            <mat-icon>add</mat-icon>
            <span class="nav-button__text">Add</span>
          </button>

          <button mat-stroked-button class="nav-button">
            <mat-icon>language_outline</mat-icon>
            <span class="nav-button__text">Eng</span>
          </button>

          <a mat-stroked-button class="nav-button" [routerLink]="'/liked'">
            <mat-icon>favorite_outline</mat-icon>
            <span class="nav-button__text">Liked</span>
          </a>
        </div>
      </div>
    </div>
  </header>

  <!-- content -->
  <div class="page__content">
    <router-outlet></router-outlet>
  </div>

  <!-- footer -->
  <footer class="page__footer footer">
    <div class="container--grow">
      <div class="row">
        <div class="col-md-2 col-12">
          <a routerLink="/" class="c-logo">
            <img class="c-logo__img" [src]="'/assets/img/logo/logo__menu.png'" alt="" />
            <span class="c-logo__text">TurnikCity</span>
          </a>
        </div>
        <div class="col-md-4 col-12 my-3 my-md-0">
          <div class="footer__slogan">
            <span>Tomorrow, tomorrow, tomorrow, ain't no such thing as tomorrow, we only got today!</span>
          </div>
        </div>
        <div class="col-md-2 col-6 c-list">
          <h6 class="c-list__title">Quick Nav</h6>
          <ul class="c-list__ul">
            <li>
              <a routerLink="/">Codex</a>
            </li>
            <li>
              <a routerLink="/">Members</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-6 c-list">
          <h6 class="c-list__title">Connect</h6>
          <ul class="c-list__ul">
            <li>
              <a href="mailto:info@turnik.city">info@turnik.city</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-12 c-list">
          <h6 class="c-list__title">HELLO!</h6>
          <div class="c-icons">
            <a href="https://www.instagram.com/los_strong90" target="_blank" class="c-icons__item">
              <fa-icon [icon]="['fab', 'instagram']" size="2xl"></fa-icon>
            </a>
            <a href="https://t.me/+joCpD7hvRMxhMzgy" target="_blank" class="c-icons__item">
              <fa-icon [icon]="['fab', 'telegram']" size="2xl"></fa-icon>
            </a>
            <a href="https://github.com/TurnikCity" target="_blank" class="c-icons__item">
              <fa-icon [icon]="['fab', 'github']" size="2xl"></fa-icon>
            </a>
            <a href="https://turnik-city.notion.site/Main-114dd86dc6554830a7cc0f337f3d3f7c" target="_blank" class="c-icons__item">
              <fa-icon [icon]="['far', 'folder']" size="2xl"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
