.c-profile {
  .c-profile__wrapper {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    .c-profile__photo {
      width: 100%;
      max-width: 140px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .c-profile__name {
    margin-bottom: 10px;
  }

  .c-profile__bio {
    margin-bottom: 10px;
  }
}

.l-buttons {
  display: flex;

  .profile-button {
    background-color: #efefef;
    color: #6a6a6a;
    flex-grow: 1;
    line-height: 28px;
  }
}

.c-list {
  margin-bottom: 10px;
  list-style: none;

  .c-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    text-decoration: none;
    gap: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .c-list__icon {
      width: 20px;
      display: flex;
      justify-content: center;
      color: #333333;
    }

    .c-list__text {
      color: #000;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.c-calendar__wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
