.playgrounds {
  overflow-y: scroll;
  border-right: 1px solid #eee;
  height: 100%;
}

.playground {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  min-height: 3.5rem;
  align-items: center;

  &.selected {
    background: #eee;
  }

  &:hover {
    background: #eee;
    cursor: pointer;
  }

  &:last-child {
    border: none;
  }
}

.controls {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
