// hero-section
.hero-section {
  min-height: 50vh;
  background: #fff url(https://assets.goodfirms.co/images/hero-building-home.svg) 50% -30% repeat-x;

  @media screen and (max-width: 768px) {
    background: none;
    background-color: var(--primaryColor);
  }
}

.l-hero {
  position: relative;
  top: -75px;
  padding: 2rem;

  .l-hero__title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: var(--textColor);
    line-height: 100%;
  }

  .l-hero__button {
    padding: 4px 16px;
    background-color: var(--primaryColor);
    font-size: 1rem;
  }
}

// counters
.c-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-right: 1px solid #dce2ee;

  &:last-child {
    border-right: none;
  }

  @media (max-width: 767px) {
    justify-content: left;
    border-right: none;

    &:nth-child(1),
    &:nth-child(3) {
      border-right: 1px solid #dce2ee;
    }

    &:nth-child(3),
    &:nth-child(4) {
      border-top: 1px solid #dce2ee;
    }
  }

  .c-counter__right {
    margin-left: 10px;
  }

  .c-counter__icon {
    color: var(--primaryColor);
    width: 40px;
    display: flex;
    justify-content: center;
  }

  .c-counter__value {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .c-counter__title {
  }
}

// cities
.city-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

// members
.c-list {
  display: flex;
  flex-direction: column;

  .c-list__hr {
    margin: 0;

    &:last-child {
      display: none;
    }
  }

  .c-item {
    display: flex;
    cursor: pointer;
    gap: 12px;
    transition: 0.2s;
    text-decoration: none;
    padding: 8px;

    &:hover {
      background-color: #f3f3f3;
    }

    .c-item__img-wrapper {
      height: 48px;
      width: 48px;
      display: grid;
      place-content: center;
      overflow: hidden;
      border-radius: 8%;
      background-color: #242424;

      .c-item__img {
        width: 100%;
      }
    }

    .c-item__right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .c-item__title {
        color: #000;
        font-size: 90%;
        font-weight: 500;
      }

      .c-item__subtitle {
        color: #6e6e6e;
        font-size: 90%;
      }
    }
  }
}

// common
.l-section__title {
  margin-bottom: 10px;
}

.l-section__link {
  text-decoration: none;
  font-weight: 400;
  color: #ffb400;
}
