<section class="section-hero"></section>

<section class="s-counters">
  <div class="container--grow s-counters__container">
    <h2 class="s-counters__title">
      TurnikCity will help millions of athletes find & promote more more more more more more.
    </h2>
  </div>
</section>

<div class="container--grow my-4">
  <div class="row">
    <div class="col-12 col-md-6">
      <h3>Playgrounds</h3>
      <section class="c-section">
        <!--        <mat-list>-->
        <!--          <mat-list-item>Item 1</mat-list-item>-->
        <!--          <mat-divider></mat-divider>-->
        <!--          <mat-list-item>Item 2</mat-list-item>-->
        <!--          <mat-divider></mat-divider>-->
        <!--          <mat-list-item>Item 3</mat-list-item>-->
        <!--        </mat-list>-->
      </section>
    </div>
    <div class="col-12 col-md-6">
      <h3>Members</h3>
      <section class="c-section">
        <!--        <mat-list>-->
        <!--          <mat-list-item>Item 1</mat-list-item>-->
        <!--          <mat-divider></mat-divider>-->
        <!--          <mat-list-item>Item 2</mat-list-item>-->
        <!--          <mat-divider></mat-divider>-->
        <!--          <mat-list-item>Item 3</mat-list-item>-->
        <!--        </mat-list>-->
      </section>
    </div>
  </div>
</div>
