<section class="section-hero"></section>

<div class="container--grow">
  <div class="row">
    <div class="col-12">
      <div class="s-counters c-section">
        <h2 class="s-counters__title">Карта турников и спортивных площадок в твоем городе</h2>

        <div class="s-list">
          <div class="s-list__item">1</div>
          <div class="s-list__item">2</div>
          <div class="s-list__item">3</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container--grow my-4" style="top: -70px; position: relative">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="c-section">123</div>
    </div>

    <div class="col-12 col-md-6">
      <section class="c-section">
        <h4>New Playgrounds</h4>
        <mat-list>
          <mat-list-item>Item 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 2</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
        </mat-list>
      </section>
    </div>
    <div class="col-12 col-md-6">
      <section class="c-section">
        <h3 class="text-center">New Members</h3>
        <mat-list>
          <mat-list-item>Item 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 2</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
        </mat-list>
      </section>
    </div>
  </div>
</div>
