<ng-container *ngIf="facade.homePage$ | async as vm">
  <section class="hero-section"></section>

  <section class="container container__top-70">
    <div class="c-hero l-section">
      <h1 class="c-hero__title">Pull-up Bars and Sports Grounds in Your City</h1>

      <!-- counters -->
      <div class="row my-5" *ngIf="vm.counters.success">
        <div class="col-md-3 col-6 c-counter">
          <fa-icon class="c-counter__icon" [icon]="['fas', 'location-dot']" size="2xl"></fa-icon>
          <div class="c-counter__right">
            <div class="c-counter__value">{{ vm.counters.res?.playgrounds }}</div>
            <div class="c-counter__title">Locations</div>
          </div>
        </div>
        <div class="col-md-3 col-6 c-counter">
          <fa-icon class="c-counter__icon" [icon]="['fas', 'tree-city']" size="2xl"></fa-icon>
          <div class="c-counter__right">
            <div class="c-counter__value">{{ vm.counters.res?.cities }}+</div>
            <div class="c-counter__title">Cities</div>
          </div>
        </div>
        <div class="col-md-3 col-6 c-counter">
          <fa-icon class="c-counter__icon" [icon]="['fas', 'people-group']" size="2xl"></fa-icon>
          <div class="c-counter__right">
            <div class="c-counter__value">{{ vm.counters.res?.users }}</div>
            <div class="c-counter__title">Athletes</div>
          </div>
        </div>
        <div class="col-md-3 col-6 c-counter">
          <fa-icon class="c-counter__icon" [icon]="['far', 'heart']" size="2xl"></fa-icon>
          <div class="c-counter__right">
            <div class="c-counter__value">{{ vm.counters.res?.likes }}</div>
            <div class="c-counter__title">Likes</div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="vm.counters.loading">
        <div class="shimmer my-5" style="width: 100%; height: 60px"></div>
      </ng-container>

      <!-- buttons -->
      <div class="justify-content-center d-flex">
        <a mat-stroked-button class="app-stroked-button c-hero__button" routerLink="/map">
          <fa-icon class="me-1" [icon]="['fas', 'location-crosshairs']" size="lg"></fa-icon>
          Explore Now
        </a>
      </div>
    </div>
  </section>

  <section class="container mt-4" style="top: -70px; position: relative">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="l-section city-list">
          <a
            mat-stroked-button
            class="app-stroked-button city-list__item"
            routerLink="/map"
            *ngFor="let item of cities"
          >
            {{ item }}
          </a>
        </div>
      </div>

      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <section class="l-section c-updates">
          <h4 class="l-section__title">
            New Locations <a class="l-section__link" [routerLink]="['playgrounds']">(view all)</a>
          </h4>
          <div class="c-list">
            <ng-container *ngFor="let item of vm.newPlaygrounds.res">
              <a class="c-item" [routerLink]="['playgrounds', item.slug]">
                <div class="c-item__img-wrapper">
                  <img class="c-item__img" [src]="item.imageUrl" alt="" />
                </div>
                <div class="c-item__right">
                  <div class="c-item__title">{{ item.title }}</div>
                  <div class="c-item__subtitle">{{ item.createdUtc | date : 'YYY-MM-dd' }}</div>
                </div>
              </a>
              <hr class="c-list__hr" />
            </ng-container>
          </div>
        </section>
      </div>
      <div class="col-12 col-md-6">
        <section class="l-section">
          <h4 class="l-section__title">
            New Members <a class="l-section__link" [routerLink]="['users']">(view all)</a>
          </h4>
          <div class="c-list">
            <ng-container *ngFor="let item of vm.newMembers.res">
              <a class="c-item" [routerLink]="['profile', item.slug]">
                <div class="c-item__img-wrapper br-50">
                  <img class="c-item__img" [src]="item.imageUrl" alt="" />
                </div>
                <div class="c-item__right">
                  <div class="c-item__title">{{ item.fullName }}</div>
                  <div class="c-item__subtitle">{{ item.createdUtc | date : 'YYY-MM-dd' }}</div>
                </div>
              </a>
              <hr class="c-list__hr" />
            </ng-container>
          </div>
        </section>
      </div>
    </div>
  </section>
</ng-container>
