.section-hero {
  min-height: 50vh;
  background: #fff url(https://assets.goodfirms.co/images/hero-building-home.svg) 50% -30% repeat-x;

  @media screen and (max-width: 768px) {
    background: #fff url(https://assets.goodfirms.co/images/hero-building-home.svg) 50% 0 repeat-x;
  }
}

.s-counters {
  min-height: 300px;
  position: relative;
  top: -75px;
  padding: 2rem;

  .s-counters__title {
    font-size: 36px;
    text-align: center;
    font-weight: 400;

    color: #333;
    line-height: 1.5;
  }
}
