<ng-container *ngIf="vm$ | async as vm">
  <div class="admin">
    <h2>Playground management</h2>

    <div
      class="spinner-container"
      *ngIf="vm.playgrounds.loading && !vm.playgrounds.res?.length"
    >
      <mat-spinner diameter="100"></mat-spinner>
    </div>
    <ng-container *ngIf="vm.playgrounds.complete || vm.playgrounds.res">
      <div class="container">
        <app-playground-management
          class="playground-management"
          [selectedPlayground]="selectedPlayground"
          [playgrounds]="vm.playgrounds.res"
          (selectedPlaygroundChange)="onSelectedPlaygroundChange($event)"
        ></app-playground-management>

        <app-selected-playground
          class="selected-playground"
          [selectedPlayground]="selectedPlayground"
          [loading]="vm.playgrounds.loading"
          (updated)="onUpdate($event)"
          (deleted)="onDelete($event)"
          (closed)="onClosed()"
        ></app-selected-playground>
      </div>
    </ng-container>
  </div>
</ng-container>
