.admin {
  display: flex;
  flex-direction: column;

  h2 {
    padding: 1rem;
    margin: 0;
    text-align: center;
  }

  .container {
    display: flex;
    height: calc(100vh - 4rem);
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    .playground-management {
      display: block;
      max-width: 20rem;
    }

    .selected-playground {
      display: block;
      flex: 1;
    }
  }
}
