<div class="container--grow">
  <div class="row">
    <div class="col-12 mt-4">
      <div class="c-section">
        <h2 class="mb-3">About Us</h2>

        about page<br />
        about page<br />
        about page<br />
        about page<br />
        about page<br />
        about page<br />
        about page<br />
        about page<br />
        about page<br />
        about page<br />
        about page<br />
        about page<br />
        about page<br />
      </div>
    </div>
  </div>
</div>
