<div class="container--grow">
  <div class="row">
    <div class="col-12 mt-4">
      <div class="c-section">
        <h2 class="mb-3">About Us</h2>
        <p class="mb-2">TurnikCity - интерактивная карта спортивных площадок со всего мира.</p>
        <p class="mb-2">Легко найти площадку для занятий спортом в любом городе :)</p>
        <p class="mb-2">
          App is absolutely free with no commercials and with
          <a href="https://github.com/TurnikCity" target="_blank">source-code</a>. Any commits or suggestions are
          welcome.
        </p>
      </div>
    </div>
  </div>
</div>
