<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <div class="l-section">
        <h2 class="mb-3">About Us</h2>
        <p class="mb-2">TurnikCity - world largest playgrounds map.</p>
        <p class="mb-2">Easy to find a calisthenics park in your city :)</p>
        <p class="mb-2">
          App is absolutely free with open
          <a href="https://github.com/ultramarine256/turnik-city" target="_blank" rel="noopener noreferrer"> source-code </a>
          and 0 ads.
        </p>
        <p class="mb-2">Any commits from devs or suggestions from athletes are welcome.</p>
      </div>
    </div>
  </div>
</div>
