/**
* ------------------------------------------------------------------------
* Fonts
* ------------------------------------------------------------------------
*/

@font-face {
  font-family: Graphik;
  font-display: swap;
  font-weight: 400;
  src: url(/assets/fonts/Graphik-400-Regular.otf) format('opentype');
}

@font-face {
  font-family: Graphik;
  font-display: swap;
  font-weight: 500;
  src: url(/assets/fonts/Graphik-500-Medium.otf) format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Graphik', 'arial', sans-serif;
}

/**
* ------------------------------------------------------------------------
* Global Styles
* ------------------------------------------------------------------------
*/

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.container--grow {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.cursor--pointer {
  cursor: pointer;
}

.border-eee {
  border: 1px solid #eee;
}

.border-dee {
  border: 1px solid #dee2e6;
}

.bg-eee {
  background-color: #eee;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.border-right-md {
  @media (min-width: 1200px) {
    border-right: 1px solid #dee2e6 !important;
  }
}

.border-left-md {
  @media (min-width: 1200px) {
    border-left: 1px solid #dee2e6 !important;
  }
}

.h-300 {
  height: 300px;
}

.h-150 {
  height: 150px;
}

.content__center {
  display: flex;
  justify-content: center;
}

.word--break-all {
  word-break: break-all;
}

/**
* ------------------------------------------------------------------------
* Components
* ------------------------------------------------------------------------
*/

.c-section {
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
}

.my-slider-image {
  max-height: 600px;
}

/**
* ------------------------------------------------------------------------
* Dialog
* ------------------------------------------------------------------------
*/

.preview-dialog {
  width: 500px;

  @media (max-height: 710px), (max-width: 900px) {
    width: 84vw !important;
  }

  .mat-dialog-container {
    padding: 0;
  }
}

.playground-create-dialog {
  max-width: 90vw !important;

  @media (max-height: 710px), (max-width: 900px) {
    width: 90vw !important;
  }

  .mat-dialog-container {
    padding: 0;
  }
}

.login-dialog {
  width: 350px;

  @media (max-height: 710px), (max-width: 640px) {
    width: 84vw !important;
  }

  .mat-dialog-container {
    padding: 0;
  }
}

/**
* ------------------------------------------------------------------------
* Shimmer
* ------------------------------------------------------------------------
*/

.shimmer {
  color: grey;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 1.5s infinite;
  background-color: #eee;
  border-radius: 8px;
}

.shimmer--round {
  border-radius: 50%;
}

.shimmer-text__100 {
  width: 100px;
  background-color: #eee;
  border-radius: 4px;
  color: #eee !important;
}

.shimmer-text {
  background-color: #eee;
  border-radius: 4px;
  color: #eee !important;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}

/**
* ------------------------------------------------------------------------
* swiper
* ------------------------------------------------------------------------
*/

.swiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.swiper-pagination-bullet-active {
  background: #efefef;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
  color: #efefef;
  font-weight: 900;
}

/**
* ------------------------------------------------------------------------
* Leaflet
* ------------------------------------------------------------------------
*/

.leaflet-bottom {
  &.leaflet-right {
    display: none;
  }
}
