/**
* ------------------------------------------------------------------------
* Variables
* ------------------------------------------------------------------------
*/

:root {
  --themeColor: #0066cc;
  --textColor: #333;

  --primaryColor: #f9cc5f;
}

/**
* ------------------------------------------------------------------------
* Media
* ------------------------------------------------------------------------
*/

$lt-sm: '576px';
$lt-md: '768px';
$lt-lg: '992px';
$lt-xl: '1200px';
