/**
* ------------------------------------------------------------------------
* Variables
* ------------------------------------------------------------------------
*/

:root {
  --themeColor: #0066cc; // DEFAULT
  --textColor: #828282;
}

/**
* ------------------------------------------------------------------------
* Media
* ------------------------------------------------------------------------
*/

$lt-sm: '576px';
$lt-md: '768px';
$lt-lg: '992px';
$lt-xl: '1200px';
